*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/Big-Data-Analysis-In-HR-Department.jpg")no-repeat;
    background-size: 100%;
}
.modal_log{
    background: snow;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
}